{% extends "layout.html" %}

{% block body %}
    <h2>List of Consoles</h2>
     {% for console in all_console %}
    <p style="font-family:Arial, Helvetica, sans-serif">
        <br>
    <strong>Name:</strong> {{ console.name }}
        <br>
    <strong>Release Date:</strong> {{ console.release_date }}
        <br>
      {#  <!-- <a href="{{ url_for('update_platform', id=console.id) }}">Edit</a> &ensp;&ensp;&ensp; --> #}
        <a href="{{ url_for('delete_platform', id=console.id) }}">Delete</a>
    
    {% endfor %}
{% endblock body %}