{% extends "layout.html" %}

{% block body %}
    <h2>List of Consoles</h2>
     {% for console in all_console %}
    <p>
        <br>
        # {{ console.id }}
        <br>
        Name: {{ console.console_name }}
        <br>
        Release Date: {{ console.release_date }}
        <br>
         <a href="{{ url_for('update_task', id=console.id) }}">Edit Console</a> &ensp;&ensp;&ensp;
        <br><br>
        <a href="{{ url_for('delete', id=console.id) }}">Delete Console</a>
    </p>
    {% endfor %}

{% endblock body %}