<html>
    <head>
        <title>90s Retro Video Games! {{ title }}</title>
    </head>
    <body style="background-color: burlywood;">
        <h1>{{ title }}</h1>
        <p>
            <a href="{{ url_for('home') }}">Home</a>&ensp;&ensp;&ensp;
            <a href="{{ url_for('home_console') }}">Consoles</a>&ensp;&ensp;&ensp;
            <a href="{{ url_for('add_game') }}">Add Games</a>&ensp;&ensp;&ensp;
            <a href="{{ url_for('add_platform') }}">Add Console</a> 
        </p>
        {% block body %}
        {% endblock body %}
    </body>
</html>
